<div id="barraepicas" style="font-size: 1.10rem; background-color: #f8f9fa;" class="lmn-mb-5">
    <div class="separa" style="text-align: left; float: left;">
        <a routerLink="/arrendadora"><img id="logofive" class="logofive" alt="ARRENDADORA" src="../../../assets/images/citiArrend2.PNG" /></a>
    </div>
    <div class="dropdown separa">
        <button class="dropbtn">Facturas Proveedor</button><br>
        <div class="dropdown-content">
            <a routerLink="/arrendadora/lineaDeCredito">Alta facturas de proveedor</a>
            <a routerLink="/arrendadora/vehiculos">Baja facturas de proveedor</a>
            <a routerLink="/arrendadora/sucursales">Modificar facturas de proveedor</a>
            <a routerLink="/arrendadora/vehiculos">Replicar facturas de proveedor</a>
        </div>
    </div>
    <div class="dropdown separa">
        <button class="dropbtn">Avisos de cobro</button><br>
        <div class="dropdown-content">
            <a routerLink="#">Carga automática de avisos de cobro</a>
            <a routerLink="#">Carga manual de avisos de cobron</a>
        </div>
    </div>
    <div class="dropdown separa">
        <button class="dropbtn">Facturación de bienes arrendados</button><br>
        <div class="dropdown-content">
            <a routerLink="#">Modificar facturas de proveedor</a>
        </div>
    </div>
    <div class="dropdown separa">
        <button class="dropbtn">Alta de bienes arrendados</button><br>
        <div class="dropdown-content">
            <a routerLink="#">Alta bienes arrendados</a>
            <a routerLink="#">Consultar bienes arrendados</a>
        </div>
    </div>
    <div class="dropdown separa">
        <button class="dropbtn">Recibos de renta</button><br>
        <div class="dropdown-content">
            <a routerLink="#">Generar recibos de renta</a>
        </div>
    </div>
    <div class="dropdown separa">
        <button class="dropbtn">Catálogos</button><br>
        <div class="dropdown-content">
            <a routerLink="/arrendadora/agrupadores">Agrupadores</a>
            <a routerLink="/arrendadora/aseguradoras">Aseguradoras</a>
            <a routerLink="/arrendadora/caracteristicas">Características</a>
            <a routerLink="/arrendadora/dias-inhabiles">Días Inhábiles</a>
            <a routerLink="/arrendadora/monedas">Monedas</a>
            <a routerLink="/arrendadora/tipos-bien">Tipos de Bien</a>
            <a routerLink="/arrendadora/endoso">Endoso</a>
            <a routerLink="/arrendadora/grupo-concepto">Grupo Concepto</a>
            <a routerLink="/arrendadora/status">Estatus</a>
            <a routerLink="/arrendadora/proveedores">Proveedores</a>
            <a routerLink="/arrendadora/leyendas">Leyendas</a>
            <a routerLink="/arrendadora/ejecutivos">Ejecutivos</a>
            <a routerLink="/arrendadora/vendor-program">Vendor Program</a>
        </div>
    </div>
    <div class="separa" style="text-align: right; float: right;">
        <a routerLink="/arrendadora"><img id="logofive" class="logofive" alt="ARRENDADORA" src="../../../assets/images/citiArrend2.PNG" /></a>
    </div>
</div>