<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>

    <mat-spinner class="table-spinner" *ngIf="showLoading"></mat-spinner>

    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-100" matSort>

        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell class="cursor-pointer" *matCellDef="let element" (click)="tableSeleccion(element)"> {{element.cveagrupador}} </td>
        </ng-container>

        <ng-container matColumnDef="NAME">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
            <td mat-cell class="cursor-pointer" *matCellDef="let element" (click)="tableSeleccion(element)"> {{element.descagrupador}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell text-center" colspan="10">Sin Resultados "{{input.value}}"</td>
        </tr>

    </table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10]"></mat-paginator>

</div>
<div mat-dialog-actions>
    <button *ngIf="data.btnCancel" mat-raised-button color="warn" [mat-dialog-close]="false">Cerrar</button>
</div>