<div class="lmn-text-center">
    <img src="../../../assets/images/landscapeciti-4.png" alt="">
</div>
<hr>
<br><br>

<div class="lmn-row lmn-text-color-0">
    <div class="lmn-row lmn-col-md-6">
        <div class="lmn-col-md-3">
            <img id="logofiveContDash" alt="Arrendadora" src="../../../assets/images/contratos.PNG" />
        </div>
        <div class="lmn-col-md-9">
            <br>
            <h2>
                <p>Facturas proveedor</p>
            </h2>
        </div>
        <div class="lmn-col-md-3"></div>
        <div class="lmn-col-md-9 hover-list">
            <h4><a routerLink="/arrendadora/altaFacturasProveedor">Alta facturas de proveedor</a></h4>
            <h4><a routerLink="/arrendadora/bajaFacturasProveedor">Baja facturas de proveedor</a></h4>
            <h4><a routerLink="/arrendadora/modificarFacturasProveedor">Modificar facturas de proveedor</a></h4>
            <h4><a routerLink="/arrendadora/replicarFacturasProveedor">Replicar facturas de proveedor</a></h4>
            <h4><a routerLink="/arrendadora/agrupadores">Agrupadores</a></h4>
        </div>
    </div>

    <div class="lmn-row lmn-col-md-6">
        <div class="lmn-col-md-3">
            <img id="logofiveContDash" alt="Arrendadora" src="../../../assets/images/Disposiciones.PNG" />
        </div>
        <div class="lmn-col-md-9">
            <br>
            <h2>
                <p>Avisos de cobro</p>
            </h2>
        </div>
        <div class="lmn-col-md-3"></div>
        <div class="lmn-col-md-9 hover-list">
            <h4><a routerLink="#">Carga automática de avisos de cobro</a></h4>
            <h4><a routerLink="#">Carga manual de avisos de cobro</a></h4>            
        </div>
    </div>

    <div class="lmn-row lmn-col-md-6">
        <div class="lmn-col-md-3">
            <img id="logofiveContDash" alt="Arrendadora" src="../../../assets/images/lupa.PNG" />
        </div>
        <div class="lmn-col-md-9">
            <br>
            <h2>
                <p>Facturación de bienes arrendados</p>
            </h2>
        </div>
        <div class="lmn-col-md-3"></div>
        <div class="lmn-col-md-9 hover-list">
            <h4><a routerLink="#">Modificar facturas de proveedor</a></h4>         
        </div>
    </div>

    <div class="lmn-row lmn-col-md-6">
        <div class="lmn-col-md-3">
            <img id="logofiveContDash" alt="Arrendadora" src="../../../assets/images/contratos.PNG" />
        </div>
        <div class="lmn-col-md-9">
            <br>
            <h2>
                <p>Alta de bienes arrendados</p>
            </h2>
        </div>
        <div class="lmn-col-md-3"></div>
        <div class="lmn-col-md-9 hover-list" style="top: -15%;">
            <h4><a routerLink="#">Alta bienes arrendados</a></h4>
            <h4><a routerLink="#">Consultar bienes arrendados</a></h4>
        </div>
    </div>

    <div class="lmn-row lmn-col-md-6">
        <div class="lmn-col-md-3">
            <img id="logofiveContDash" alt="Arrendadora " src="../../../assets/images/manodinero.PNG" />
        </div>
        <div class="lmn-col-md-9">
            <br>
            <h2>
                <p>Recibos de renta</p>
            </h2>
        </div>
        <div class="lmn-col-md-3"></div>
        <div class="lmn-col-md-9 hover-list">
            <h4><a routerLink="#">Generar recibos de renta</a></h4>
        </div>
    </div>

</div>

<br><br>

<div class="mln-row">
    <span class="lmn-mr-5"><a routerLink="#">Accesibility</a></span>
    <span class="lmn-mr-5"><a routerLink="#">Terms and Conditions</a></span>
    <span class="lmn-mr-5"><a routerLink="#">Carrers</a></span>
    <span class="lmn-mr-5"><a routerLink="/arrendadora">Ir a menú pricipal</a></span>
</div>